{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% load pwa_webpush %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pay Me Now</title>

	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'paymesite/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'paymesite/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'paymesite/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'paymesite/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'paymesite/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'paymesite/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'paymesite/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'paymesite/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'paymesite/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'paymesite/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'paymesite/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'paymesite/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'paymesite/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'paymesite/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'paymesite/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">


	  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	<!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'paymesite/style3.css' %}">
	<link rel="icon" type="image/png" href="{% static 'paymesite/logo.jpg' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

	{% progressive_web_app_meta %}

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="{% static "paymesite/szpm.jpg" %}" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="input-group justify-content-center mb-5">
							<h3>Sign In</h3>
<!--					<p>{{ browser }}</p>-->
				</div>
				<div class="d-flex justify-content-center mb-5 form_container">
					{% if browser == "Mobile Safari" or browser == "Safari" %}
					<div class="d-flex justify-content-center mb-5 form_container"> <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-lg btn-primary "> <span>Login with Facebook</span> <i class="fab fa-facebook-f"></i> </a> </div>
					{% else %}
					<div class="d-flex justify-content-center mb-5 form_container"> <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-lg btn-primary "> <span>Login with Facebook</span> <i class="fab fa-facebook-f"></i> </a> </div>
					{% endif %}
	<!--				<div class="d-flex justify-content-center mb-3 form_container"> <a href="{% provider_login_url "google" %}" class="btn btn-lg btn-danger "> <span>Login with Google</span> <i class="fab fa-google"></i> </a> </div>-->
	<!--				<div class="d-flex justify-content-center mb-3 form_container"> <a href="#" class="btn btn-lg btn-warning"> <span>Login with Office365</span> <i class="fab fa-microsoft"></i> </a> </div>-->
					<div class="d-flex justify-content-center form_container">

						{% if error %}
						<div align="center" class="alert alert-danger" role="alert">
							{{ error }}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
