.scrollable {
    height:500px;
    overflow: scroll;
}

    .page-item.active .page-link {
        color: #fff !important;
        background-color: #17a2b8 !important;
        border-color: #17a2b8 !important;
    }

    .page-link {
        color: #000 !important;
        background-color: #fff !important;
        border: 1px solid #17a2b8 !important;
    }

    .page-link:hover {
        color: #fff !important;
        background-color: #17a2b8 !important;
        border-color: #17a2b8 !important;
    }


.dataTables_scrollHead table {
    min-width: 100%;
}

/*.card{
  height: 200px;
  padding-bottom: 15px;
  margin-bottom: 8px;
  flex-shrink: 0;
}*/


.card {
        min-width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        transition: 0.2s;
    }
        .scroll-box {
            overflow-y: scroll;
            height: 150px;
            padding-bottom: 10px
        }